# 言語処理100本ノック 
# 第2章: UNIXコマンドの基礎

---

2018/09/01 Atsuya Kobayashi

---

[hightemp.txt](http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt)は，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，hightemp.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

In [61]:
%%bash
pwd;rm hightemp*; wget http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt

/Users/atsuya/Documents/nlp-100knock

--2018-09-01 01:43:06--  http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt
www.cl.ecei.tohoku.ac.jp (www.cl.ecei.tohoku.ac.jp) をDNSに問いあわせています... 130.34.192.83
www.cl.ecei.tohoku.ac.jp (www.cl.ecei.tohoku.ac.jp)|130.34.192.83|:80 に接続しています... 接続しました。
HTTP による接続要求を送信しました、応答を待っています... 200 OK
長さ: 813 [text/plain]
`hightemp.txt' に保存中

     0K                                                       100% 45.6M=0s

2018-09-01 01:43:06 (45.6 MB/s) - `hightemp.txt' へ保存完了 [813/813]

In [62]:
%%bash
cat hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

---

### 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [63]:
f = open("hightemp.txt")
l = f.readlines()
f.close()
len(l)

24

In [64]:
%%bash
wc hightemp.txt

      24      98     813 hightemp.txt

---

### 11. タブをスペースに置換

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [74]:
with open("hightemp.txt") as f:
    S = f.read()
with open("hightemp.txt", mode="w") as f:
    f.write(S.replace("\t", " "))

print(S.replace("\t", " "))

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [76]:
%%bash
sed "s/$(printf "\t")/ /g" hightemp.txt

# macOSでは\tがタブとして認識されないのでprintfを用いる

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

---

### 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [94]:
import pandas as pd

line = []
with open("hightemp.txt") as f:
    for l in f.readlines():
        line.append(l.rstrip().split(" "))

data_1 = pd.DataFrame(line)[0]
print(str(data_1.head(5)))

data_2 = pd.DataFrame(line)[1]
print(str(data_2.head(5)))

0    高知県
1    埼玉県
2    岐阜県
3    山形県
4    山梨県
Name: 0, dtype: object
0    江川崎
1     熊谷
2    多治見
3     山形
4     甲府
Name: 1, dtype: object

In [96]:
%%bash
cut -f 1 -d " " hightemp.txt > col1.txt
head col1.txt

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県

In [97]:
%%bash
cut -f 2 -d " " hightemp.txt > col2.txt
head col2.txt

江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林

### 13. col1.txtとcol2.txtをマージ

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [104]:
pd.concat([data_1, data_2], axis=1).head(10)

      0     1
0   高知県   江川崎
1   埼玉県    熊谷
2   岐阜県   多治見
3   山形県    山形
4   山梨県    甲府
5  和歌山県  かつらぎ
6   静岡県    天竜
7   山梨県    勝沼
8   埼玉県    越谷
9   群馬県    館林

In [103]:
%%bash
paste -d "\t" col1.txt col2.txt > col1_2.txt 
head col1_2.txt

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林

### 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [113]:
def head(filepath, n):
    if type(filepath)!=str:
        print("arg:filepath must be string")
    elif type(n) != int:
        print("arg:n must be integer")
    else:
        with open(filepath) as f:
            output = []
            for i in range(n):
                output.append(f.readline().rstrip().split(" "))
        return output

head("hightemp.txt",5)

[['高知県', '江川崎', '41', '2013-08-12'],
 ['埼玉県', '熊谷', '40.9', '2007-08-16'],
 ['岐阜県', '多治見', '40.9', '2007-08-16'],
 ['山形県', '山形', '40.8', '1933-07-25'],
 ['山梨県', '甲府', '40.7', '2013-08-10']]

In [106]:
%%bash
head -n 5 hightemp.txt

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10

### 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [127]:
def tail(filepath, n):
    if type(filepath)!=str:
        print("arg:filepath must be string")
    elif type(n) != int:
        print("arg:n must be integer")
    else:
        with open(filepath) as f:
            output = []
            all_data = f.readlines()
            for i in range(n):
                output.append(all_data[-(i+1)])
        return output

tail("hightemp.txt",5)

['愛知県 名古屋 39.9 1942-08-02\n',
 '山形県 鶴岡 39.9 1978-08-03\n',
 '山梨県 大月 39.9 1990-07-19\n',
 '大阪府 豊中 39.9 1994-08-08\n',
 '埼玉県 鳩山 39.9 1997-07-05\n']

In [107]:
%%bash
tail -n 5 hightemp.txt

埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

### 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

### 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

### 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

### 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．